{% extends "base.twig" %}

{% set active_page = 'dashboard' %}

{% block content %}
<!-- Page Content -->
<!-- Widgets -->
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="widget">
            <i class="fa-solid fa-user"></i>
            <p>Total Accounts: {{ total_accounts }}</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="widget">
            <i class="fa-solid fa-users"></i>
            <p>Total Characters: {{ total_characters }}</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="widget">
            <i class="fa-solid fa-newspaper"></i>
            <p>Total Posts: {{ total_posts }}</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="widget">
            <i class="fa-solid fa-user-shield"></i>
            <p>Players Online: {{ online_players }}</p>
        </div>
    </div>
</div>
<!-- Panels -->
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel">
			<h5 class="panel-title">System Status</h5>
			<!-- Add system status information -->
			<div class="panel-content">
				<p>Server Uptime: {{ server_uptime }}</p>
				<p>Database Status: {{ database_status }}</p>
				<p>Last Backup: {{ last_backup|date("F d, Y H:i") }}</p>
			</div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel">
            <h5 class="panel-title">Recent Activity</h5>
			<!-- Add a list of recent activities -->
			<div class="panel-content">
				<ul>
					{% for activity in recent_activities %}
						<li>{{ activity.description }} - {{ activity.timestamp|date("F d, Y H:i") }}</li>
					{% endfor %}
				</ul>
			</div>
        </div>
    </div>
</div>
{% endblock %}
